&.m-client-configuration {
    .content {
        padding: 20px;
    }
}


&.m-client-configuration-add-training {
    .content {
        padding: 20px;
    }

    .form {
        padding-left: 20px;
        width: 700px;
    }
}