{% extends '@ClientBundle/layout.html.twig' %}

{% block body %}
    <div class="container-client m-client-homepage">
        <h1>{{ "Dashboard"|trans }}</h1>

        <div class="content">
            <div class="content-left">
                <h2>{{ 'programme du jour'|trans }}</h2>
            </div>
            <div class="content-right">
                <h2>{{ 'Historiques'|trans }}</h2>
            </div>
        </div>
    </div>
{% endblock %}