{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="m-register-confirmed text-center">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <div>
            <a class="btn m-button-medium" href="{{ path('homepage') }}">{{ 'accèder à mon compte'|trans }}</a>
        </div>
    </div>
{% endblock fos_user_content %}
