/* --------- LABEL --------- */
.m-label-small {
    text-transform: uppercase;
    color: #777;
    letter-spacing: 2.5px;
    font-weight: 200;
    margin-bottom: 20px;
}

/* --------- INPUT --------- */
.m-input-text {
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #bbb;
    width: 240px;
    height: 40px;
}

/* --------- BUTTON --------- */
.m-button-medium {
    background: #0060c1;
    width: 240px;
    height: 48px;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 0px 10px #aaa;
    -moz-box-shadow: 0px 0px 10px #aaa;
    box-shadow: 0px 0px 10px #aaa;

    &:hover {
        background: #267edf;
        color: #fff;
    }

    &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

/* --------- LINK --------- */
.m-label-link-right {
    font-size: 12px;
    display: inline-block;
    color: #999;
    float: right;
    line-height: 18px;
    height: 18px;

    &:hover {
        color: #999;
        border-bottom: 1px solid #999;
        text-decoration: none;
    }
}