.table-session-workout {

    tr {
        th {
            text-align: center;
            border: none;
            background: #f3f3f3;

            &:nth-child(1) {
                width: 100px;
            }

            &:nth-child(2) {
                width: 75px;
            }
        }

        td {
            text-align: center;
            vertical-align: middle;

            &:nth-child(1) {
                font-size: 25px;
                font-weight: 100;
            }

            &:nth-child(2) {
                span {
                    display: block;

                    &:nth-child(1) {
                        font-size: 22px;
                    }
                }
            }
        }

        &:nth-child(even) {
            td {
                &:nth-child(2) {
                    background: #0060c1;
                    color: #fff;
                }
            }
        }

        &:nth-child(odd) {
            td {
                &:nth-child(2) {
                    color: #0060c1;
                }
            }
        }
    }

    .exercices-details {

        .exercice-details {

            .exercice-details-name {
                display: inline-block;
                width: 200px;
                margin-right: 20px;
                overflow: hidden;
            }

            .exercice-details-serie {
                display: inline-block;
                width: 100px;
                margin-right: 20px;

                .material-icons {
                    vertical-align: middle;
                    font-size: 13px;
                    color: #777;
                    margin: 0 5px;
                }
            }

            .exercice-details-break {
                display: inline-block;
                width: 100px;
                color: #777;

                .material-icons {
                    vertical-align: middle;
                    font-size: 13px;
                }
            }
        }
    }
}