{% extends '@ClientBundle/layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset(prefix_path ~ '/bundles/client/js/index-training.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-client m-client-configuration">
        <h1>{{ "Configuration"|trans }}</h1>
        {% include '@ClientBundle/Configuration/Homepage/list-trainings.html.twig' %}
        {% include '@ClientBundle/Configuration/Homepage/list-exercises.html.twig' %}
        {% include '@ClientBundle/Configuration/Homepage/list-workouts.html.twig' %}
    </div>
{% endblock %}