/* RESPONSIVE SIZES */
/* COLOR */
/* --------- FONTS --------- */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/material/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/material/MaterialIcons-Regular.woff) format("woff"), url(../fonts/material/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.side-nav {
  background: #fff;
  z-index: 1;
  position: fixed;
  width: 120px;
  height: 100%;
  top: 70px; }
  .side-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0; }
    .side-nav ul a {
      padding: 40px;
      display: inline-block;
      text-align: center;
      width: 100%;
      color: #C0C5D2; }
      .side-nav ul a.selected {
        color: #198CFF; }
        .side-nav ul a.selected:hover {
          color: #198CFF;
          cursor: default; }
      .side-nav ul a:hover {
        color: #0060C1; }

@media (max-width: 481px) {
  .side-nav {
    width: 0;
    top: 48px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .side-nav.open {
      width: 120px;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; } }
.form {
  padding-bottom: 40px; }
  .form.form-inline .form-group {
    margin-bottom: 20px; }
    .form.form-inline .form-group .m-label-small {
      width: 200px;
      display: inline-block;
      line-height: 24px;
      margin-top: 15px; }
    .form.form-inline .form-group .m-input-text {
      width: 240px; }
  .form .actions {
    width: 100%; }
    .form .actions .m-button-medium {
      margin-top: 60px; }

header {
  background: #fff;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
  z-index: 1; }
  header.header-user {
    height: 70px;
    text-align: left;
    position: fixed;
    width: 100%; }
    header.header-user .icon-logo {
      height: 64px;
      width: 64px;
      margin-left: 40px; }
    header.header-user .header-logout {
      float: right;
      padding: 25px 40px;
      color: #777; }
      header.header-user .header-logout span {
        line-height: 20px;
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 5px; }
      header.header-user .header-logout i {
        font-size: 15px; }
      header.header-user .header-logout:hover {
        text-decoration: none; }
        header.header-user .header-logout:hover span, header.header-user .header-logout:hover i {
          color: #000; }
    header.header-user .btn-sidenav-toggle {
      display: none; }

@media (max-width: 481px) {
  header {
    height: 64px; }
    header .icon.icon-logo {
      height: 64px;
      width: 64px; }
    header.header-user {
      top: 0;
      height: 48px; }
      header.header-user .icon.icon-logo {
        margin: 0;
        height: 48px;
        width: 48px; }
      header.header-user .header-logout {
        position: absolute;
        top: 0;
        right: 0;
        height: 48px;
        line-height: 20px;
        padding: 14px 20px; }
        header.header-user .header-logout span {
          display: none; }
        header.header-user .header-logout i {
          font-size: 20px; }
      header.header-user .btn-sidenav-toggle {
        display: block;
        position: absolute;
        height: 48px;
        line-height: 20px;
        padding: 14px 20px;
        cursor: pointer; }
        header.header-user .btn-sidenav-toggle i {
          font-size: 20px; }
      header.header-user .icon-logo-cta {
        display: block;
        text-align: center; } }
header {
  background: #fff;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
  z-index: 1; }
  header.header-user {
    height: 70px;
    text-align: left;
    position: fixed;
    width: 100%; }
    header.header-user .icon-logo {
      height: 64px;
      width: 64px;
      margin-left: 40px; }
    header.header-user .header-logout {
      float: right;
      padding: 25px 40px;
      color: #777; }
      header.header-user .header-logout span {
        line-height: 20px;
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 5px; }
      header.header-user .header-logout i {
        font-size: 15px; }
      header.header-user .header-logout:hover {
        text-decoration: none; }
        header.header-user .header-logout:hover span, header.header-user .header-logout:hover i {
          color: #000; }
    header.header-user .btn-sidenav-toggle {
      display: none; }

@media (max-width: 481px) {
  header {
    height: 64px; }
    header .icon.icon-logo {
      height: 64px;
      width: 64px; }
    header.header-user {
      top: 0;
      height: 48px; }
      header.header-user .icon.icon-logo {
        margin: 0;
        height: 48px;
        width: 48px; }
      header.header-user .header-logout {
        position: absolute;
        top: 0;
        right: 0;
        height: 48px;
        line-height: 20px;
        padding: 14px 20px; }
        header.header-user .header-logout span {
          display: none; }
        header.header-user .header-logout i {
          font-size: 20px; }
      header.header-user .btn-sidenav-toggle {
        display: block;
        position: absolute;
        height: 48px;
        line-height: 20px;
        padding: 14px 20px;
        cursor: pointer; }
        header.header-user .btn-sidenav-toggle i {
          font-size: 20px; }
      header.header-user .icon-logo-cta {
        display: block;
        text-align: center; } }
/* --------- LABEL --------- */
.m-label-small {
  text-transform: uppercase;
  color: #777;
  letter-spacing: 2.5px;
  font-weight: 200;
  margin-bottom: 20px; }

.m-label {
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 20px; }
  .m-label.m-label-yellow {
    color: #C17900; }

/* --------- INPUT --------- */
.m-input-text {
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #bbb;
  width: 240px;
  height: 40px; }

/* --------- BUTTON --------- */
.m-button-medium {
  background: #0060c1;
  width: 240px;
  height: 48px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 10px #aaa;
  -moz-box-shadow: 0px 0px 10px #aaa;
  box-shadow: 0px 0px 10px #aaa;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  border: none; }
  .m-button-medium:hover {
    background: #267edf;
    color: #fff; }
  .m-button-medium:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.m-button-small {
  background: #0060c1;
  width: 120px;
  height: 36px;
  color: #fff;
  font-size: 11px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 10px #aaa;
  -moz-box-shadow: 0px 0px 10px #aaa;
  box-shadow: 0px 0px 10px #aaa;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  border: none; }
  .m-button-small:hover {
    background: #267edf;
    color: #fff; }
  .m-button-small:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

a.m-button-medium {
  display: inline-block;
  color: #fff !important; }
  a.m-button-medium:hover {
    text-decoration: none; }

/* --------- LINK --------- */
.m-label-link-right {
  font-size: 12px;
  display: inline-block;
  color: #999;
  float: right;
  line-height: 18px;
  height: 18px; }
  .m-label-link-right:hover {
    color: #999;
    border-bottom: 1px solid #999;
    text-decoration: none; }

/* --------- GLOBAL --------- */
body {
  font-size: 13px; }
  body.body-logged {
    background: #f9f9f9; }

.form-control {
  border-radius: 0; }

.btn {
  border-radius: 0; }

.icon {
  vertical-align: middle; }
  .icon.icon-logo {
    width: 100px;
    height: 100px;
    fill: #0060C1; }
  .icon.icon-profile {
    width: 175px;
    height: 175px; }

.message-flash {
  font-size: 15px;
  text-align: center;
  margin: 15px 0 30px;
  padding: 20px 0; }
  .message-flash.success {
    background: #f7f7f7;
    border: 1px solid #f3f3f3; }

.alert {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

h1 {
  font-size: 35px;
  line-height: 60px;
  color: #198CFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  width: 100%;
  letter-spacing: 1.5px; }

@media (max-width: 481px) {
  h1 {
    font-size: 25px;
    line-height: 35px; }

  .container-fluid {
    padding-top: 20px; } }
.m-login {
  margin-top: 40px;
  width: 240px; }
  .m-login .form-group--login {
    margin-bottom: 5px;
    margin-top: 60px; }
  .m-login .m-button-medium {
    margin-top: 60px; }

@media (max-width: 481px) {
  .m-login {
    margin-top: 0; } }
.m-register {
  margin-top: 40px;
  width: 440px; }
  .m-register h1 {
    margin-bottom: 60px; }

.m-register-confirmed {
  margin-top: 40px; }

@media (max-width: 481px) {
  .m-register {
    width: 240px; } }
.m-request {
  margin-top: 40px;
  width: 440px; }
  .m-request h1 {
    margin-bottom: 60px; }
  .m-request .actions {
    width: 100%; }
    .m-request .actions .m-button-medium {
      margin-top: 60px; }

@media (max-width: 481px) {
  .m-request {
    width: 240px; } }
.container-client {
  margin-left: 120px;
  padding-top: 70px; }
  .container-client h1 {
    width: 100%;
    line-height: 48px;
    font-size: 18px;
    color: black;
    text-align: left;
    text-transform: initial;
    padding: 20px 0 10px 25px; }
  .container-client h2 {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C17900;
    padding-left: 20px; }
  .container-client h3 {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border-top: 1px solid #ddd; }
  .container-client .content {
    min-height: 460px;
    background: #fff;
    margin: 0 25px 25px; }
    .container-client .content .content-left, .container-client .content .content-right {
      padding: 20px 10px 0 20px; }
  .container-client.m-client-profile .content {
    display: flex; }
    .container-client.m-client-profile .content .content-left {
      background: #f3f3f3; }
      .container-client.m-client-profile .content .content-left .profile-image {
        text-align: center;
        padding: 25px 0 25px; }
      .container-client.m-client-profile .content .content-left .m-label-small {
        display: block;
        margin-bottom: 3px; }
    .container-client.m-client-profile .content .content-right {
      background: #0060C1;
      text-align: center;
      vertical-align: middle;
      padding: 0; }
      .container-client.m-client-profile .content .content-right p {
        font-size: 24px;
        color: #fff;
        line-height: 420px;
        letter-spacing: 2px; }
  .container-client.m-client-homepage .workout-carousel {
    padding: 20px 0; }
    .container-client.m-client-homepage .workout-carousel .next-workout {
      width: 300px;
      margin-right: 40px; }
      .container-client.m-client-homepage .workout-carousel .next-workout.next-workout-status-past {
        color: #000; }
        .container-client.m-client-homepage .workout-carousel .next-workout.next-workout-status-past .next-workout-content .date {
          background: #f9a7ab; }
        .container-client.m-client-homepage .workout-carousel .next-workout.next-workout-status-past .m-button-medium {
          background: #f9a7ab; }
      .container-client.m-client-homepage .workout-carousel .next-workout.next-workout-status-futur .next-workout-content .date {
        background: #ddd; }
      .container-client.m-client-homepage .workout-carousel .next-workout.next-workout-status-futur .m-button-medium {
        background: #ddd; }
      .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content {
        border: 1px solid #f3f3f3;
        text-align: center;
        min-height: 450px;
        background: #fff; }
        .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content a {
          color: #000; }
          .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content a:hover {
            text-decoration: none; }
        .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content .date {
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          background: #0060c1;
          color: #fff;
          float: left;
          width: 60px;
          height: 80px;
          padding: 10px 0; }
          .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content .date span {
            display: block; }
            .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content .date span:nth-child(1) {
              font-size: 22px; }
        .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content .name {
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          margin: 0;
          line-height: 80px; }
        .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content .exercises {
          padding: 30px 0;
          font-weight: 700;
          min-height: 320px; }
          .container-client.m-client-homepage .workout-carousel .next-workout .next-workout-content .exercises p {
            font-weight: 200; }
      .container-client.m-client-homepage .workout-carousel .next-workout .m-button-medium {
        width: 100%;
        margin-bottom: 0; }
  .container-client .m-card {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
    .container-client .m-card .m-card-image {
      background: #004183;
      color: #fff;
      width: 100%; }
  .container-client.m-client-configuration .content {
    padding: 20px; }
  .container-client.m-client-configuration .m-card {
    margin-bottom: 20px; }
    .container-client.m-client-configuration .m-card:hover {
      cursor: pointer;
      background: #fcfcfc; }
  .container-client.m-client-configuration .m-card-add .m-card-image {
    background: #eee; }
  .container-client.m-client-configuration .m-card-add .training-exercises {
    text-align: center; }
  .container-client.m-client-configuration .m-card-add .material-icons {
    color: #eee; }
  .container-client.m-client-configuration .m-card-add:hover {
    background: #fff; }
    .container-client.m-client-configuration .m-card-add:hover .m-card-image {
      background: #ddd; }
    .container-client.m-client-configuration .m-card-add:hover .material-icons {
      color: #ddd; }
  .container-client.m-client-configuration .listing-training {
    margin-top: 60px; }
    .container-client.m-client-configuration .listing-training .m-card-add .material-icons {
      font-size: 130px; }
    .container-client.m-client-configuration .listing-training .training-image {
      height: 140px;
      line-height: 130px;
      text-align: center;
      font-size: 40px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top; }
    .container-client.m-client-configuration .listing-training .training-description {
      text-align: center;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      padding-top: 10px;
      height: 115px; }
      .container-client.m-client-configuration .listing-training .training-description .training-name {
        font-size: 17px;
        padding-bottom: 10px;
        padding-left: 10px; }
      .container-client.m-client-configuration .listing-training .training-description .module-training-days {
        padding: 20px 10px; }
    .container-client.m-client-configuration .listing-training .training-exercises {
      padding: 20px;
      width: 100%;
      overflow: scroll;
      height: 165px; }
      .container-client.m-client-configuration .listing-training .training-exercises table {
        width: 100%; }
        .container-client.m-client-configuration .listing-training .training-exercises table tr td {
          border: none;
          font-size: 12px;
          padding: 4px 20px 4px 10px; }
  .container-client.m-client-configuration .listing-exercise {
    margin-top: 60px; }
    .container-client.m-client-configuration .listing-exercise .m-card-add .material-icons {
      font-size: 65px; }
    .container-client.m-client-configuration .listing-exercise .exercise-image {
      height: 70px;
      line-height: 70px;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      vertical-align: top; }
    .container-client.m-client-configuration .listing-exercise .exercise-description {
      height: 100px;
      padding: 20px;
      text-align: center; }
  .container-client.m-client-configuration .m-button-medium {
    margin-top: 40px;
    margin-left: 20px; }
  .container-client.m-client-configuration .table tr:first-child td {
    border-top: none; }
  .container-client.m-client-configuration-add-training .content {
    padding: 20px; }
  .container-client.m-client-configuration-add-training .form {
    padding-left: 20px;
    width: 800px; }
  .container-client.m-client-configuration-add-training h3 {
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-weight: bold; }
    .container-client.m-client-configuration-add-training h3 .material-icons {
      font-size: 15px;
      color: #777;
      margin-right: 10px;
      vertical-align: middle; }
  .container-client.m-client-configuration-add-training .form-group-action {
    width: 100%;
    padding-top: 40px;
    margin-top: 20px; }
  .container-client.m-client-configuration-add-training #group-exercises {
    width: 800px;
    max-height: 400px;
    overflow: scroll; }
  .container-client.m-client-configuration-add-training #group-session-workout {
    min-height: 60%;
    max-height: 60%;
    overflow: scroll; }
  .container-client.m-client-configuration-add-training .chk-days {
    margin-right: 3px;
    margin-top: 1px; }
  .container-client.m-client-configuration-add-training .label-days {
    margin-right: 20px; }
  .container-client.m-client-configuration-add-training #btn-add-exercise {
    cursor: pointer;
    color: #999; }
    .container-client.m-client-configuration-add-training #btn-add-exercise:hover {
      color: #000; }
    .container-client.m-client-configuration-add-training #btn-add-exercise i {
      font-size: 15px; }
    .container-client.m-client-configuration-add-training #btn-add-exercise span {
      vertical-align: text-bottom; }
  .container-client.m-client-configuration-add-training .table-exercises tr th {
    border: none;
    background: #f3f3f3; }
  .container-client.m-client-configuration-add-training .table-exercises tr td {
    vertical-align: bottom; }
  .container-client.m-client-configuration-add-training .session-workout-preview {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
    width: 80%;
    height: 80%; }
    .container-client.m-client-configuration-add-training .session-workout-preview .preview-close {
      float: right;
      cursor: pointer;
      color: #999; }
      .container-client.m-client-configuration-add-training .session-workout-preview .preview-close:hover {
        color: #000; }
  .container-client.m-client-configuration-add-exercise .content {
    padding: 20px; }
  .container-client.m-client-configuration-add-exercise .form-group {
    padding-left: 20px;
    padding-top: 20px; }
  @media (max-width: 481px) {
    .container-client.m-client-configuration .listing-training .training-image {
      height: 50px;
      line-height: 50px;
      font-size: 18px; }
    .container-client.m-client-configuration .listing-training .training-description {
      height: 100px; }
      .container-client.m-client-configuration .listing-training .training-description .module-training-days {
        padding: 10px; }
    .container-client.m-client-configuration .listing-training .training-exercises {
      padding: 10px;
      height: 100px; }
    .container-client.m-client-configuration .listing-training .m-card-add .material-icons {
      font-size: 60px; }
    .container-client.m-client-configuration .listing-exercise .exercise-image {
      height: 50px;
      line-height: 50px;
      font-size: 18px; }
    .container-client.m-client-configuration .listing-exercise .exercise-description {
      height: 60px; }
    .container-client.m-client-configuration .listing-exercise .m-card-add .material-icons {
      font-size: 30px; } }
  @media (max-width: 481px) {
    .container-client.m-client-configuration-add-training .form {
      width: auto;
      padding-left: 0; }
      .container-client.m-client-configuration-add-training .form .form-training-configuration {
        width: 100%; }
    .container-client.m-client-configuration-add-training #group-exercises {
      width: 100%; }
      .container-client.m-client-configuration-add-training #group-exercises .js-select-exercises {
        width: 100px; }
      .container-client.m-client-configuration-add-training #group-exercises .m-input-text {
        width: 80px; } }

@media (max-width: 481px) {
  .container-client {
    margin-left: 0; }
    .container-client h1 {
      line-height: 30px;
      padding-top: 10px; }
    .container-client .content {
      min-height: auto;
      margin: 0 5px 5px; } }
.container-start {
  margin-left: 120px;
  padding-top: 70px; }
  .container-start .content {
    min-height: 460px;
    background: #fff;
    margin: 0 25px 25px; }
  .container-start.m-start-homepage .start-training {
    text-align: center; }
    .container-start.m-start-homepage .start-training.start-training-hidden {
      display: none; }
    .container-start.m-start-homepage .start-training .start-training-image {
      margin: 20px auto 40px;
      height: 100px;
      width: 100px;
      background: #ddd;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      line-height: 100px; }
    .container-start.m-start-homepage .start-training .start-training-name {
      font-size: 18px;
      font-weight: 600; }
    .container-start.m-start-homepage .start-training .start-training-reps {
      margin-bottom: 40px; }
  .container-start.m-start-homepage .start-training-timeout {
    display: none;
    text-align: center;
    width: 120px;
    height: 120px;
    background: #0060C1;
    margin: 20px auto;
    line-height: 120px;
    font-size: 35px;
    font-weight: 100;
    color: #fff;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px; }
    .container-start.m-start-homepage .start-training-timeout.active {
      display: block; }

@media (max-width: 481px) {
  .container-start {
    margin-left: 0; }
    .container-start h1 {
      line-height: 30px;
      padding-top: 10px; }
    .container-start .content {
      min-height: auto;
      margin: 0 5px 5px; } }
.module-training-days div {
  display: inline-block;
  border: 1px solid #f3f3f3;
  height: 25px;
  width: 30px;
  overflow: hidden;
  padding: 3px;
  text-align: center;
  font-size: 12px;
  color: #ddd;
  border-right: none;
  background: #fff; }
  .module-training-days div:last-child {
    border-right: 1px solid #f3f3f3; }
  .module-training-days div.selected {
    background: #198CFF;
    color: #fff;
    border-color: #198CFF; }

.table-session-workout tr th {
  text-align: center;
  border: none;
  background: #f3f3f3; }
  .table-session-workout tr th:nth-child(1) {
    width: 100px; }
  .table-session-workout tr th:nth-child(2) {
    width: 75px; }
.table-session-workout tr td {
  text-align: center;
  vertical-align: middle; }
  .table-session-workout tr td:nth-child(1) {
    font-size: 25px;
    font-weight: 100; }
  .table-session-workout tr td:nth-child(2) span {
    display: block; }
    .table-session-workout tr td:nth-child(2) span:nth-child(1) {
      font-size: 22px; }
.table-session-workout tr:nth-child(even) td:nth-child(2) {
  background: #0060c1;
  color: #fff; }
.table-session-workout tr:nth-child(odd) td:nth-child(2) {
  color: #0060c1; }
.table-session-workout .exercices-details .exercice-details .exercice-details-name {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  overflow: hidden; }
.table-session-workout .exercices-details .exercice-details .exercice-details-serie {
  display: inline-block;
  width: 100px;
  margin-right: 20px; }
  .table-session-workout .exercices-details .exercice-details .exercice-details-serie .material-icons {
    vertical-align: middle;
    font-size: 13px;
    color: #777;
    margin: 0 5px; }
.table-session-workout .exercices-details .exercice-details .exercice-details-break {
  display: inline-block;
  width: 100px;
  color: #777; }
  .table-session-workout .exercices-details .exercice-details .exercice-details-break .material-icons {
    vertical-align: middle;
    font-size: 13px; }

/*# sourceMappingURL=index.css.map */
