<div class="side-nav">
    <ul>
        <li class="side-nav--menu dashboard">
            <a class="selected" href="{{ path('homepage') }}">
                <i class="material-icons">apps</i>
            </a>
        </li>
        <li class="side-nav--menu configuration">
            <a href="{{ path('homepage') }}">
                <i class="material-icons">fitness_center</i>
            </a>
        </li>
        <li class="side-nav--menu profile">
            <a href="{{ path('homepage') }}">
                <i class="material-icons">person</i>
            </a>
        </li>
    </ul>
</div>