.m-login{
    margin-top:40px;
    width: 240px;

    .form-group--login {
        margin-bottom: 5px;
        margin-top: 60px;
    }

    .m-button-medium {
        margin-top: 60px;
    }
}

@media (max-width: $width-large-mobile) {
    .m-login{
        margin-top: 0;
    }
}