/* RESPONSIVE SIZES */
$width-mobile: 320px;
$width-large-mobile: 481px;
$width-medium-tablet: 641px;
$width-large-tablet: 961px;
$width-small-desktop: 1025px;
$width-large-desktop: 1281px;

/* COLOR */
$blue-light: #198CFF;
$blue-medium: #0060C1;
$blue-hard: #004183;
$yellow-light: #744900;
$yellow-medium: #C17900;